<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>水果商城-发货单</title>
    <link rel="icon" href="/static/imgs/apple.png" type="image/x-icon"> 
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-center">
				发货清单
			</h3>
			<h4 style="margin-top: 30px;" >订单号:{{ dic1.order_number }}</h4>
			<h4>发货时间:{{ dic1.delivery_time }} </h4>
			<h4>{{ dic1.address }}</h4>
			{% if dic1.logistics_company == 1 %}
				<h4>物流公司:顺丰快递</h4>
			{% endif %}
			{% if dic1.logistics_company == 2 %}
				<h4>物流公司:中通快递</h4>
			{% endif %}
			{% if dic1.logistics_company == 3 %}
				<h4>物流公司:韵达快递</h4>
			{% endif %}
			<h4>物流单号:{{ dic1.logistics_number }}</h4>

			<table style="margin-top:20px ;"  class="table table-bordered">
				<thead  >
					<tr>
						<th>
							编号
						</th>
						<th>
							水果名称
						</th>
						<th>
							单价
						</th>
						<th>
							数量
						</th>
						<th>
							规格
						</th>
						<th>
							金额
						</th>
						<th>
							运费
						</th>
					</tr>
				</thead>
				<tbody>
					{% for item in shopping_list_data %}
						<tr class="">
							<td>
								{{ item.id }}
							</td>
							<td>
								{{ item.fruit_name }}
							</td>
							<td>
								{{ item.fruit_price }}
							</td>
							<td>
								{{ item.number }}
							</td>
							<td>
								{{ item.fruit_weight }}
							</td>
							<td>
								{{ item.money }}
							</td>
							<td>
								{{ item.tran_price }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<h3 style="float: right;" >总金额:{{ dic1.total_money }}元</h3>
			
		</div>
	</div>
</div>
</body>
</html>


