<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>水果商城-详情</title>
    <link rel="icon" href="/static/imgs/apple.png" type="image/x-icon"> 
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <script>
    </script>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        <img style="margin-top: 70px;" alt="" height="60px" width="165px" src="/static/imgs/index_logo_head.png" />
                    </div>
                    <div class="col-md-6 column">
                        <form role="form" action="/getfruitList/" method="post" class="form-inline">
                            {% csrf_token %}
                            <div class="form-group">
                                 <label style="margin-top: 100px;" for="fruitname"></label><input  placeholder="搜索你喜爱的水果!"  style="width: 450px;" type="text" class="form-control" id="fruitname" name="fruitname" />
                                 <button type="submit" style="width: 80px;margin-left: 10px;" class="btn btn-success">搜索</button>
                                 <p>{%if form.fruitname.errors %}{{ form.fruitname.errors.0 }} {% endif %}</p>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 column">
                        <a style="margin-top :80px;float: right;" type="button" class="btn btn-success" href="/my_shopping_cart/" >我的购物车</a>
                    </div>
                </div>
                <div style="margin-top:10px;" class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div>
                                所有水果分类
                            </div>
                        </h3>
                    </div>
                </div>
                <!-- 消息提醒 -->
                {%if messages %}
                    <div style="margin-top: 10px;" class= "alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                        {% for msg in messages %}
                            <strong>{{ msg }}&nbsp&nbsp</strong>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row clearfix">
                    <div class="col-md-8 column">
                        <div class="col-md-6 column">
                            <div class="carousel slide" id="carousel-275654">
                                <ol class="carousel-indicators">
                                    <li class="active" data-slide-to="0" data-target="#carousel-275654">
                                    </li>
                                    <li data-slide-to="1" data-target="#carousel-275654">
                                    </li>
                                    <li data-slide-to="2" data-target="#carousel-275654">
                                    </li>
                                </ol>
                                <div class="carousel-inner" data-ride="carousel" >
                                    <div class="item active">
                                        <img alt="" height="500" width="500" src="{{ fruit_data.pic_html.0 }}" />
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img alt="" height="500" width="500" src="{{ fruit_data.pic_html.1 }}" />
                                        <div class="carousel-caption">
                                            
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img alt="" height="500" width="500" src="{{ fruit_data.pic_html.2 }}" />
                                        <div class="carousel-caption">
                                           
                                        </div>
                                    </div>
                                </div> <a class="left carousel-control" href="#carousel-275654" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-275654" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                            </div>
                        </div>
                        <div class="col-md-6 column">
                            <div class="caption">
                                <form role="form" action="/fruitDetails/add/" method="post">
                                    {% csrf_token %}
                                    <dt style="font-size: larger;" >
                                        <h4>编号:<input name="fruit_id" type="text" value="{{ fruit_data.id }}"  style="width:40px;margin-left: 10px;border: none;" readonly="readonly" /></h4>
                                        <h4>品名:&nbsp&nbsp{{ fruit_data.fruit_name }}</h4>
                                        <h5>描述:&nbsp&nbsp{{ fruit_data.fruit_description }}</h5>
                                    </dt>
                                    <p style="margin-top: 20px;" >
                                        价格:<span style="color: red;">&nbsp{{ fruit_data.fruit_price }}&nbsp元/斤 </span>
                                    </p>
                                    <p style="margin-top: 20px;" >
                                        运费:<span> {{ fruit_data.transportation_price }}&nbsp元 </span>
                                    </p>
                                    <p style="margin-top: 20px;" >
                                        规格:<span> {{ fruit_data.fruit_weight }} </span>
                                    </p>
                                    <p style="margin-top: 20px;" >
                                        销量:<span> {{ fruit_data.Sales }} </span>
                                    </p>
                                    <p style="margin-top: 20px;" >
                                        数量:<input name="fruit_number" type="number" oninput="value=value.replace(/[^\d]/g,'')" style="width:40px;margin-left: 10px;" value="1" min="0"/>
                                    </p>
                                    <button type="submit" class="btn btn-success" style="background-color: crimson;" >加入购物车</button>
                                </form>
                                <!-- <a style="margin-left: 110px;" class="btn btn-success" href="/fruitDetails/search?id={{ fruit_data.id }}" >返回</a>  -->
                            </div>
                        </div>
                    </div>    
                    <div class="col-md-4 column"> 
                        <span style="font-size:medium ;" class="label label-success">最新评论</span> 
                        <table style="margin-top: 20px;" class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>
                                        用户
                                    </th>
                                    <th>
                                        评论信息
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in comments_data %}
                                    <tr class="{{ item.type }}">
                                        <td>
                                            {{ item.commenting_user }}
                                        </td>
                                        <td>
                                            {{ item.commenting_content }} <a role="button" style="float: right;font-size: xx-small;" class="btn btn-success" href="/delete/message?id={{ item.id }}">删除</a>
                                        </td>
                                    </tr>
                                {% endfor %}   
                            </tbody>
                        </table>
                        <a style="float: right;"  href="/more_comments/">更多评论</a>
                    </div>   
                </div>
                
                <nav style="height: 20px;" class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div style="margin-left: 185px;margin-top: 15px;" class="navbar-header">
                        <p> <a style="margin-left: 10px;color: black;" href="/index/">商城首页</a>&nbsp&nbsp&nbsp&nbsp&nbsp欢迎来到水果商店!<a style="margin-left: 15px;color: black;" href="/login/">点击登录!</a> <a style="margin-left: 15px;color: black;" href="/register/">免费注册!</a> <a style="margin-left: 15px;color: black;" href="/management/">管理入口</a> <img src="/static/imgs/index_user.png" width="20px" height="20px" style="margin-left: 540px;" alt=""><a style="margin-left: 10px;color: black;" href="/userInfo/">heyi01</a> <a style="margin-left: 40px; color: black;" href="/logout/">退出</a></p>
                    </div>   
                </nav>
                <!-- 售后服务 -->
                <span style="font-size:medium ;margin-top: 20px;" class="label label-success">售后服务</span>
                <dl style="margin-top: 10px;" >
                    <dt style="margin-top: 5px;" >
                        购物承诺
                    </dt>
                    <dd>
                        水果超市所有在售商品均可开具正规发票
                        水果超市所有在售商品均保障正品
                    </dd>
                    <dt style="margin-top: 5px;" >
                        退货服务
                    </dt>
                    <dd>
                        水果超市出售的商品可以享受“7天无理由退货”服务,除天猫官方规定不支持7天无理由退换服务的类目商品外;
                        退货商品请保证是未使用过，不影响二次销售（质量问题的商品除外）;
                        退货提交有效期:在确认签收商品之日起7天内提交(以物流签收时间为准).
                    </dd>
                    <dt style="margin-top: 5px;" >
                        退货提交方式：
                    </dt>
                    <dd>
                        在线申请：进入订单页面选中该笔交易，点击“退款/退货”，提交退货申请；
                        电话申请:拨打电话400-xxxxxxxx
                    </dd>
                    <dt style="margin-top: 5px;" >
                        退货费用说明:
                    </dt>
                    <dd>
                        如果是买家原因退货,由买家承担退货费用。
                        如果是商品质量问题而导致的退货,退货费用由水果超市承担。
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <dl style="margin-top:20px;" >
                    <div>
                        <dt>
                            项目地址:<a href="https://github.com/xiaowang012/FruitStore.git" >点击进入</a>&nbsp邮箱: 1500202481@qq.com
                        </dt>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    
</body>
</html>

