<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>水果商城-列表</title>
    <link rel="icon" href="/static/imgs/apple.png" type="image/x-icon"> 
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        <img style="margin-top: 70px;" alt="" height="60px" width="165px" src="/static/imgs/index_logo_head.png" />
                    </div>
                    <div class="col-md-6 column">
                        <form role="form" class="form-inline">
                            <div class="form-group">
                                 <label style="margin-top: 100px;" for="search_fruit"></label><input  placeholder="搜索你喜爱的水果!"  style="width: 450px;" type="text" class="form-control" id="search_fruit" name="search_fruit" />
                                 <button type="submit" style="width: 80px;margin-left: 20px;" class="btn btn-success">搜索</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 column">
                        <a style="margin-top :80px;float: right;" type="button" class="btn btn-success" href="" >我的购物车</a>
                    </div>

                </div>
                <div style="margin-top:10px;" class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div>
                                所有水果分类
                            </div>
                        </h3>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <div  style="margin-top: 10px;margin-left: 1px;" class="row">
                            <div  class="thumbnail">
                                <img alt="" height="200px" width="200px" src="/static/imgs/pic1.png" />
                                <div class="caption">
                                    <p>
                                        <h4>猕猴桃1</h4>
                                    </p>
                                    <p>
                                        <span style="color: red;">15.00元/斤 </span>
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" style="font-size: xx-small;" href="#">购买</a>
                                    </p>
                                </div>
                            </div>
                            <div  class="thumbnail">
                                <img alt="" height="200px" width="200px" src="/static/imgs/pic6.png" />
                                <div class="caption">
                                    <p>
                                        <h4>猕猴桃</h4>
                                    </p>
                                    <p>
                                        <span style="color: red;">25.00元/斤 </span>
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" style="font-size: xx-small;" href="#">购买</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div style="margin-top: 10px;margin-left: 1px;" class="row">
                            <div  class="thumbnail">
                                <img alt="" height="200px" width="200px" src="/static/imgs/pic6.png" />
                                <div class="caption">
                                    <p>
                                        <h4>香橙</h4>
                                    </p>
                                    <p>
                                        <span style="color: red;">15.00元/斤 </span>
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" style="font-size: xx-small;" href="#">购买</a>
                                    </p>
                                </div>
                            </div>
                            <div  class="thumbnail">
                                <img alt="" height="200px" width="200px" src="/static/imgs/pic2.png" />
                                <div class="caption">
                                    <p>
                                        <h4>猕猴桃</h4>
                                    </p>
                                    <p>
                                        <span style="color: red;">25.00元/斤 </span>
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" style="font-size: xx-small;" href="#">购买</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div style="margin-top: 10px;margin-left: 1px;margin-right: 1px;" class="row">
                            <div  class="thumbnail">
                                <img alt="" height="200px" width="200px" src="/static/imgs/pic1.png" />
                                <div class="caption">
                                    <p>
                                        <h4>猕猴桃</h4>
                                    </p>
                                    <p>
                                        <span style="color: red;">15.00元/斤 </span>
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" style="font-size: xx-small;" href="#">购买</a>
                                    </p>
                                </div>
                            </div>
                            <div  class="thumbnail">
                                <img alt="" height="200px" width="200px" src="/static/imgs/pic2.png" />
                                <div class="caption">
                                    <p>
                                        <h4>猕猴桃</h4>
                                    </p>
                                    <p>
                                        <span style="color: red;">25.00元/斤 </span>
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" style="font-size: xx-small;" href="#">购买</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- 分页 -->
                        <ul style="margin-top:20px;float: right;" class="pagination">
                            <li>
                                 <a href="#">上一页</a>
                            </li>
                            <li class="active" >
                                 <a href="#">1</a>
                            </li>
                            <li>
                                 <a href="#">2</a>
                            </li>
                            <li>
                                 <a href="#">3</a>
                            </li>
                            <li>
                                 <a href="#">4</a>
                            </li>
                            <li>
                                 <a href="#">5</a>
                            </li>
                            <li>
                                 <a href="#">下一页</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <nav style="height: 20px;" class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div style="margin-left: 185px;margin-top: 15px;" class="navbar-header">
                        <p> <a style="margin-left: 10px;color: black;" href="/index/">商城首页</a>&nbsp&nbsp&nbsp&nbsp&nbsp欢迎来到水果商店!<a style="margin-left: 15px;color: black;" href="/login/">点击登录!</a> <a style="margin-left: 15px;color: black;" href="/register/">免费注册!</a> <a style="margin-left: 15px;color: black;" href="/management/">管理入口</a> <img src="/static/imgs/index_user.png" width="20px" height="20px" style="margin-left: 540px;" alt=""><a style="margin-left: 10px;color: black;" href="/userInfo/">heyi01</a> <a style="margin-left: 40px; color: black;" href="/logout/">退出</a></p>
                    </div>   
                </nav>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <dl style="margin-top:20px;" >
                    <div>
                        <dt>
                            项目地址:<a href="https://github.com/xiaowang012/FruitStore.git" >点击进入</a>&nbsp邮箱: 1300202481@qq.com
                        </dt>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    
</body>
</html>

