<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>水果商城-后台管理</title>
    <link rel="icon" href="/static/imgs/apple.png" type="image/x-icon"> 
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <script type="text/javascript">
        function delete_confirm(url)
        {
        var r=confirm("您确定要删除吗?")
          if(r){window.location.href=url
          }
        }
        function open_confirm(url)
        {
        var r=confirm("您确定要启用此账号吗?")
          if(r){window.location.href=url
          }
        }
        function close_confirm(url)
        {
        var r=confirm("您确定要停用此账号吗?")
          if(r){window.location.href=url
          }
        }
        function update_goods(id,name,type_id,description,price,weight,transportation,Sales) {
        $( '#update_id').val(id);
        $( '#update_fruit_name').val(name);
        $( '#update_fruit_type_id').val(type_id);
        $( '#update_fruit_description').val(description);
        $( '#update_fruit_price').val(price);
        $( '#update_fruit_weight').val(weight);
        $( '#update_transportation_price').val(transportation);
        $( '#update_Sales').val(Sales);
        }
    </script>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        <img style="margin-top: 70px;" alt="" height="60px" width="220px" src="/static/imgs/management_head.png" />
                    </div>
                    <div class="col-md-6 column">
                       
                    </div>
                </div>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div style="margin-top: 20px;" class="tabbable" id="tabs-577358">
                                <ul class="nav nav-tabs">
                                    <li  >
                                        <a href="/management/" >用户管理</a>
                                    </li>
                                    <li  >
                                        <a href="/management/permission/">权限管理</a>
                                    </li>
                                    <li class="active"  >
                                       <a href="/management/goods/" >商品管理</a>
                                    </li>
                                    <li  >
                                       <a href="/management/order/" >订单管理</a>
                                    </li>
                                    <li>
                                        <a href="/management/role/" >角色管理</a>
                                    </li>
                                    <li>
                                        <a href="/management/logistics/" >发货管理</a>
                                    </li>
                                    <li>
                                        <a href="/management/accesspolicy" >访问策略</a>
                                    </li>  
                                </ul>
                            </div>
                            <div style="margin-top: 20px;margin-left: -10px;" class="col-md-12 column">
                                <span style="font-size: medium ;" class="label label-info">商品管理</span>
                            </div>
                            <div style="margin-top:10px;margin-left: -10px;" class="col-md-12 column">
                                {%if messages %}
                                    <div class="alert alert-success alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        {% for msg in messages %}
                                            <strong>{{ msg }}&nbsp&nbsp</strong>
                                        {% endfor %}
                                    </div>
                                {% endif %} 
                            </div>
                              
                            <div class="col-md-12 column">
                                <nav style="margin-left: -10px;" class="navbar navbar-default" role="navigation">
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li class="dropdown">
                                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">选择类型<strong class="caret"></strong></a>
                                                <ul  class="dropdown-menu">
                                                    <li><a href="/management/goods/search/type?code=1">最新上架</a></li>
                                                    <li><a href="/management/goods/search/type?code=2">热销水果</a></li>
                                                    <li><a href="/management/goods/search/type?code=3">品质水果</a></li>
                                                    <li><a href="/management/goods/search/type?code=4">实惠套餐</a></li>
                                                    <li><a href="/management/goods/search/type?code=5">当季水果</a></li>
                                                    <li><a href="/management/goods/search/type?code=6">好评最多</a></li>
                                                    <li><a href="/management/goods/search/type?code=7">瓜果飘香</a></li>
                                                    <li><a href="/management/goods/search/type?code=8">热带水果</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <form class="navbar-form navbar-left" role="search" action="/management/goods/search/" method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input placeholder="输入水果名称搜索" type="text" name="fruit_name" class="form-control" />
                                            </div> <button type="submit" style="margin-left: 10px;" class="btn btn-primary">查询</button><a role="button" class="btn btn-default" style="margin-left: 10px;" href="/management/goods/">重置</a>
                                        </form>
                                    </div>
                                </nav>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            水果名称
                                        </th>
                                        <th>
                                            类别
                                        </th>
                                        <th>
                                            介绍
                                        </th>
                                        <th>
                                            单价(斤)
                                        </th>
                                        <th>
                                            运费
                                        </th>
                                        <th>
                                            规格
                                        </th>
                                        <th>
                                            销量
                                        </th>
                                        <th>
                                            图片文件
                                        </th>
                                        <th>
                                            <a id="modal-207299" href="#modal-container-207299" role="button" style="font-size: xx-small;" class="btn btn-primary" data-toggle="modal">添加</a><a id="modal-207300" href="#modal-container-207300" role="button" style="font-size: xx-small;margin-left: 5px;" class="btn btn-success" data-toggle="modal">导入</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in goods_data %}
                                        <tr class="{{ item.style }}" >
                                            <td>
                                                {{ item.id }}
                                            </td>
                                            <td>
                                                <textarea class="form-control" style="background: rgba(255,255,255,0.1);"  rows="2">
                                                    {{ item.fruit_name }}
                                                </textarea>
                                                
                                            </td>
                                            <td>
                                                {{ item.fruit_type_id }}
                                            </td>
                                            <td>
                                                
                                                <textarea class="form-control" style="background: rgba(255,255,255,0.1);"  rows="2">
                                                    {{ item.fruit_description }}
                                                </textarea>
                                            </td>
                                            <td>
                                                {{ item.fruit_price }}
                                            </td>
                                            <td>
                                                {{ item.transportation_price }}
                                            </td>
                                            <td>
                                                {{ item.fruit_weight }}
                                            </td>
                                            <td>
                                                {{ item.Sales }}
                                            </td>
                                            <td>
                                                <textarea class="form-control" style="background: rgba(255,255,255,0.1);"  rows="2">
                                                    {{ item.fruit_pic_file_name }}
                                                </textarea>
                                            </td>
                                            <td>
                                                
                                                <a id="modal-207311" onclick="update_goods('{{ item.id}}','{{ item.fruit_name }}','{{ item.fruit_type_id }}','{{ item.fruit_description }}','{{ item.fruit_price }}','{{ item.fruit_weight }}','{{ item.transportation_price }}','{{ item.Sales }}')" href="#modal-container-207311" role="button" style="font-size: xx-small;" class="btn btn-success" data-toggle="modal">修改</a>
                                                <button style="font-size: xx-small;" class="btn btn-danger" onclick="delete_confirm('/management/goods/delete?id={{ item.id }}')" > 删除</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="row clearfix">
                                <div class="col-md-4 column">
                                </div>
                                <div class="col-md-4 column">
                                </div>
                                <div class="col-md-4 column">
                                    <ul style="float: right;" class="pagination">
                                        <li class="">
                                            {% if dic1.page_number <= 2 %}
                                                <a href="/management/goods/search/page?name={{ dic1.fruit_name }}&page_number=1">上一页</a>
                                            {% else %}
                                                <a href="/management/goods/search/page?name={{ dic1.fruit_name }}&page_number={{ dic1.page_number|add:-1 }}">上一页</a>
                                            {% endif %}
                                        </li>
                                        <li >
                                             <a style="margin-left: 10px;" href="/management/goods/search/page?name={{ dic1.fruit_name }}&page_number={{ dic1.page_number|add:1 }}">下一页</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 修改商品信息信息模态框 -->
                <div class="modal fade" id="modal-container-207311" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    修改商品信息
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/management/goods/update/" method="post" enctype="multipart/form-data" >
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="update_id">ID</label><input type="text" class="form-control" name="update_id" readonly="readonly" id="update_id" />
                                    </div>
                                    <div class="form-group">
                                        <label for="update_fruit_name">水果名称</label><input type="text" class="form-control" name="update_fruit_name" id="update_fruit_name" />
                                    </div>
                                    <div class="form-group">
                                        <label for="update_fruit_type_id">水果类别</label>
                                        <select name="update_fruit_type_id" id="update_fruit_type_id" class="form-control">
                                            <option value="1">最新上架</option>
                                            <option value="2">热销水果</option>
                                            <option value="3">品质水果</option>
                                            <option value="4">实惠套餐</option>
                                            <option value="5">当季水果</option>
                                            <option value="6">好评最多</option>
                                            <option value="7">瓜果飘香</option>
                                            <option value="8">热带水果</option> 
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="update_fruit_description">描述信息</label>
                                        <textarea class="form-control" rows="3" name="update_fruit_description" id="update_fruit_description" ></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="update_fruit_price">单价</label><input type="text" class="form-control" name="update_fruit_price" id="update_fruit_price" />
                                    </div>
                                    <div class="form-group">
                                        <label for="update_transportation_price">运费</label><input type="text" class="form-control" name="update_transportation_price" id="update_transportation_price" />
                                    </div>
                                    <div class="form-group">
                                        <label for="update_fruit_weight">规格</label><input type="text" value="1kg" class="form-control" name="update_fruit_weight"  id="update_fruit_weight" />
                                    </div>
                                    <div class="form-group">
                                        <label for="update_Sales">销量</label><input type="text" class="form-control" name="update_Sales" id="update_Sales"  />
                                    </div>
                                    <div  class="form-group">
                                        <label for="update_fruit_picture1">请上传图片1(可选)</label><input role="button"  type="file" name="update_fruit_picture1" />
                                    </div>
                                    <div  class="form-group">
                                        <label for="update_fruit_picture2">请上传图片2(可选)</label><input role="button"  type="file" name="update_fruit_picture2" />
                                    </div>
                                    <div  class="form-group">
                                        <label for="update_fruit_picture3">请上传图片3(可选)</label><input role="button"  type="file" name="update_fruit_picture3" />
                                    </div>
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div> 



                <!-- 添加商品模态框 -->
                <div class="modal fade" id="modal-container-207299" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    添加商品
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/management/goods/add/" method="post" enctype = "multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="fruit_name">水果名称</label><input type="text" class="form-control" name="fruit_name" />
                                    </div>
                                    <div class="form-group">
                                        <label for="fruit_type_id">水果类别</label>
                                        <select name="fruit_type_id" class="form-control">
                                            <option value="1">最新上架</option>
                                            <option value="2">热销水果</option>
                                            <option value="3">品质水果</option>
                                            <option value="4">实惠套餐</option>
                                            <option value="5">当季水果</option>
                                            <option value="6">好评最多</option>
                                            <option value="7">瓜果飘香</option>
                                            <option value="8">热带水果</option> 
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="fruit_description">描述信息</label>
                                        <textarea class="form-control" rows="3" name="fruit_description"  ></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="fruit_price">单价</label><input type="text" class="form-control" name="fruit_price" />
                                    </div>
                                    <div class="form-group">
                                        <label for="transportation_price">运费</label><input type="text" class="form-control" name="transportation_price" />
                                    </div>
                                    <div class="form-group">
                                        <label for="fruit_weight">规格</label><input type="text" value="1kg" class="form-control" name="fruit_weight"  />
                                    </div>
                                    <div class="form-group">
                                        <label for="Sales">销量</label><input type="text" class="form-control" name="Sales"  />
                                    </div>
                                    <div  class="form-group">
                                        <label for="fruit_picture1">请上传图片1(必传)</label><input role="button"  type="file" name="fruit_picture1" />
                                    </div>
                                    <div  class="form-group">
                                        <label for="fruit_picture2">请上传图片2(可选)</label><input role="button"  type="file" name="fruit_picture2" />
                                    </div>
                                    <div  class="form-group">
                                        <label for="fruit_picture3">请上传图片3(可选)</label><input role="button"  type="file" name="fruit_picture3" />
                                    </div>
                                    <button type="submit" class="btn btn-default btn-primary">提交</button>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div> 
                <!--批量导入用户的模态框-->
                <div class="modal fade" id="modal-container-207300" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    导入用户
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/managementUser/import/" method="post" enctype = "multipart/form-data">
                                    {% csrf_token %}
                                    <div style="margin-top: 15px;" class="form-group">
                                            <label for="user_file">请上传EXCEL文件</label><input role="button"  type="file" name="user_file" />
                                        <p style="margin-top: 10px;" class="help-block">
                                            模板下载链接如下:
                                            <a href="/managementUser/download/">点击下载</a>
                                        </p>
                                    </div>
                                    <button type="submit" class="btn btn-default btn-primary">导入</button>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div> 
                <nav style="height: 20px;" class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div style="margin-left: 185px;margin-top: 15px;" class="navbar-header">
                        <p> <a style="margin-left: 10px;color: black;" href="/index/">商城首页</a>&nbsp&nbsp&nbsp&nbsp&nbsp欢迎来到水果商店!<a style="margin-left: 15px;color: black;" href="/login/">点击登录!</a> <a style="margin-left: 15px;color: black;" href="/register/">免费注册!</a> <a style="margin-left: 15px;color: black;" href="/management/">管理入口</a> <img src="/static/imgs/index_user.png" width="20px" height="20px" style="margin-left: 540px;" alt=""><a style="margin-left: 10px;color: black;" href="/userInfo/">{{ dic1.current_user }}</a> <a style="margin-left: 40px; color: black;" href="/logout/">退出</a></p>
                    </div>   
                </nav>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <dl style="margin-top:20px;" >
                    <div>
                        <dt>
                            项目地址:<a href="https://github.com/xiaowang012/FruitStore.git" >点击进入</a>&nbsp邮箱: 1300202481@qq.com
                        </dt>
                    </div>
                </dl>
            </div>
        </div>
    </div>
   
</body>
</html>


