<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>水果商城-首页</title>
    <link rel="icon" href="/static/imgs/apple.png" type="image/x-icon"> 
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        <img style="margin-top: 70px;" alt="" height="60px" width="220px" src="/static/imgs/management_head.png" />
                    </div>
                    <div class="col-md-6 column">
                       
                    </div>
                </div>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div style="margin-top: 20px;" class="tabbable" id="tabs-577358">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                         <a href="/management/" >用户管理</a>
                                    </li>
                                    <li>
                                         <a href="/test2/">商品管理</a>
                                    </li>
                                    <li>
                                        <a href="/test3/" >权限管理</a>
                                    </li>
                                    <li>
                                        <a href="/test4/" >订单管理</a>
                                    </li>
                                    <li>
                                        <a href="/test5/" >账目管理</a>
                                    </li>
                                    <li>
                                        <a href="/test6/" >退货管理</a>
                                    </li>
                                    <li>
                                        <a href="/test7/" >访问策略</a>
                                    </li>  
                                </ul>
                            </div>
                            <div style="margin-top: 20px;margin-left: -10px;" class="col-md-12 column">
                                <span style="font-size: medium ;" class="label label-info">用户管理</span>
                            </div>
                            <div style="margin-top:10px;margin-left: -10px;" class="col-md-12 column">
                                {%if messages %}
                                    <div class="alert alert-success alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        {% for msg in messages %}
                                            <strong>{{ msg }}&nbsp&nbsp</strong>
                                        {% endfor %}
                                    </div>
                                {% endif %} 
                            </div>
                              
                            <div class="col-md-12 column">
                                <nav style="margin-left: -10px;" class="navbar navbar-default" role="navigation">
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <form class="navbar-form navbar-left" role="search" action="/searchUser/" method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input placeholder="输入用户名搜索!" type="text" name="username" class="form-control" />
                                            </div> <button type="submit" style="margin-left: 10px;" class="btn btn-primary">查询</button><a role="button" class="btn btn-default" style="margin-left: 10px;" href="/management/">重置</a>
                                        </form>
                                    </div>
                                </nav>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            用户名
                                        </th>
                                        <th>
                                            邮箱
                                        </th>
                                        <th>
                                            上次登录时间
                                        </th>
                                        <th>
                                            启用状态
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in user_data %}
                                        <tr class="{{ item.style }}" >
                                            <td>
                                                {{ item.id }}
                                            </td>
                                            <td>
                                                {{ item.username }}
                                            </td>
                                            <td>
                                                {{ item.email }}
                                            </td>
                                            <td>
                                                {{ item.last_login }}
                                            </td>
                                            <td>
                                                {{ item.is_active }}
                                            </td>
                                            <td>
                                                <a role="button" class="btn btn-primary" style="font-size: xx-small;"  href="">停用</a><a role="button"  class="btn btn-default" style="margin-left: 10px;font-size: xx-small;" href="">启用</a><a role="button" class="btn btn-success" style="margin-left: 10px;font-size: xx-small;" href="">修改</a><a role="button" class="btn btn-danger" style="margin-left: 10px;font-size: xx-small;" href="">删除</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="row clearfix">
                                <div class="col-md-4 column">
                                </div>
                                <div class="col-md-4 column">
                                </div>
                                <div class="col-md-4 column">
                                    <ul style="float: right;" class="pagination">
                                        <li class="">
                                            {% if dic1.page_number <= 2 %}
                                                <a href="/management/user/page?search={{ dic1.username }}&page_number=1">上一页</a>
                                            {% else %}
                                                <a href="/management/user/page?search={{ dic1.username }}&page_number={{ dic1.page_number|add:-1 }}">上一页</a>
                                            {% endif %}
                                        </li>
                                        <li >
                                             <a style="margin-left: 10px;" href="/management/user/page?search={{ dic1.username }}&page_number={{ dic1.page_number|add:1 }}">下一页</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav style="height: 20px;" class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div style="margin-left: 185px;margin-top: 15px;" class="navbar-header">
                        <p> <a style="margin-left: 10px;color: black;" href="/index/">商城首页</a>&nbsp&nbsp&nbsp&nbsp&nbsp欢迎来到水果商店!<a style="margin-left: 15px;color: black;" href="/login/">点击登录!</a> <a style="margin-left: 15px;color: black;" href="/register/">免费注册!</a> <a style="margin-left: 15px;color: black;" href="/management/">管理入口</a> <img src="/static/imgs/index_user.png" width="20px" height="20px" style="margin-left: 540px;" alt=""><a style="margin-left: 10px;color: black;" href="/userInfo/">{{ dic1.current_user }}</a> <a style="margin-left: 40px; color: black;" href="/logout/">退出</a></p>
                    </div>   
                </nav>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <dl style="margin-top:20px;" >
                    <div>
                        <dt>
                            项目地址:<a href="https://github.com/xiaowang012/FruitStore.git" >点击进入</a>&nbsp邮箱: 1300202481@qq.com
                        </dt>
                    </div>
                </dl>
            </div>
        </div>
    </div>
   
</body>
</html>


