<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>水果商城-购物车</title>
    <link rel="icon" href="/static/imgs/apple.png" type="image/x-icon"> 
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        <img style="margin-top: 70px;" alt="" height="60px" width="165px" src="/static/imgs/index_logo_head.png" />
                    </div>
                    <div class="col-md-6 column">
                        <form role="form" action="/getfruitList/" method="post" class="form-inline">
                            {% csrf_token %}
                            <div class="form-group">
                                 <label style="margin-top: 100px;" for="fruitname"></label><input  placeholder="搜索你喜爱的水果!"  style="width: 450px;" type="text" class="form-control" id="fruitname" name="fruitname" />
                                 <button type="submit" style="width: 80px;margin-left: 20px;" class="btn btn-success">搜索</button>
                                 <p>{%if form.fruitname.errors %}{{ form.fruitname.errors.0 }} {% endif %}</p>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 column">
                        <a style="margin-top :80px;float: right;" type="button" class="btn btn-success" href="/my_shopping_cart/" >我的购物车</a>
                    </div>

                </div>
                <div style="margin-top:10px;margin-left: 15px;" class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div>
                                我的购物车
                            </div>
                        </h3>
                    </div>
                </div>
                <!-- 消息提醒 -->
                {%if messages %}
                    <div style="margin-top: 10px;margin-left: 15px;" class= "alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                        {% for msg in messages %}
                            <strong>{{ msg }}&nbsp&nbsp</strong>
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- 订单列表 -->
                <div class="container">
                    <div class="row clearfix">
                        <div  class="col-md-12 column">
                            <p><img src="/static/imgs/logo_shop.png" alt="" height="30px" width="30px" >店铺:&nbsp水果超市</p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            商品编号
                                        </th>
                                        <th>
                                            商品信息
                                        </th>
                                        <th>
                                            单价
                                        </th>
                                        <th>
                                            规格
                                        </th>
                                        <th>
                                            数量
                                        </th>
                                        <th>
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in shopping_cart_data %}
                                        <tr>
                                            <form role="form" action="/shopping_cart/fruit/update/" method="post" >
                                                {% csrf_token %}
                                                <th>
                                                    <input name="shopping_cart_id" type="text" value="{{ item.shopping_cart_id }}"  style="width:40px;margin-left: 10px;border: none;" readonly="readonly" />
                                                </th>
                                                <td style="width: 500px;" >
                                                    <div style="margin-top: 20px;"  class="media">
                                                        <a href="#" class="pull-left"><img src="{{ item.pic_html }}"  class="media-object" alt='' width="100px" height="100px" /></a>
                                                        <div class="media-body">
                                                            <h4>品名:&nbsp&nbsp{{ item.fruit_name }}</h4>
                                                            <p>描述:&nbsp&nbsp{{ item.fruit_description }}</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="color: red;" >
                                                    {{ item.fruit_price }}元/斤
                                                </td>
                                                <td>
                                                    {{ item.fruit_weight }}
                                                </td>
                                                <td>
                                                    <input name="fruit_number"  type="number" oninput="value=value.replace(/[^\d]/g,'')" style="width:40px;" value="{{ item.fruit_number }}"  min="0"/>    
                                                </td>
                                                <td>
                                                    <button  type="submit" class="btn btn-success" style="font-size: xx-small;" href="/shopping_cart/fruit/update/">修改</button><a role="button" class="btn btn-success" style="font-size: xx-small;margin-left: 10px;" href="/shopping_cart/fruit/delete?id={{ item.shopping_cart_id }}">删除</a>
                                                </td>
                                            </form>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- 分页 -->
                            <div class="container">
                                <div class="row clearfix">
                                    <div class="col-md-12 column">
                                        <div class="row clearfix">
                                            <div class="col-md-4 column">
                                            </div>
                                            <div class="col-md-4 column">
                                            </div>
                                            <div class="col-md-4 column">
                                                <ul style="margin-top:20px;float: right;" class="pagination">
                                                    <li class="">
                                                        {% if dic1.page_number <= 2 %}
                                                            <a  href="/my_shopping_cart/page?code=1">上一页</a>
                                                        {% else %}
                                                            <a  href="/my_shopping_cart/page?code={{ dic1.page_number|add:-1 }}">上一页</a>
                                                        {% endif %}
                                                    </li>
                                                    <li class="">
                                                        <a style="margin-left: 10px;" href="/my_shopping_cart/page?code={{ dic1.page_number|add:1 }}">下一页</a>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a role="button" style="background-color: crimson;" class="btn btn-success" href="/settle_accounts/">订单结算</a>
                        </div>
                    </div>
                </div>
                <nav style="height: 20px;" class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div style="margin-left: 185px;margin-top: 15px;" class="navbar-header">
                        <p> <a style="margin-left: 10px;color: black;" href="/index/">商城首页</a>&nbsp&nbsp&nbsp&nbsp&nbsp欢迎来到水果商店!<a style="margin-left: 15px;color: black;" href="/login/">点击登录!</a> <a style="margin-left: 15px;color: black;" href="/register/">免费注册!</a> <a style="margin-left: 15px;color: black;" href="/management/">管理入口</a> <img src="/static/imgs/index_user.png" width="20px" height="20px" style="margin-left: 540px;" alt=""><a style="margin-left: 10px;color: black;" href="/userInfo/">{{ dic1.current_user }}</a> <a style="margin-left: 40px; color: black;" href="/logout/">退出</a></p>
                    </div>   
                </nav>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <dl style="margin-top:20px;margin-left: 15px;" >
                    <div>
                        <dt>
                            项目地址:<a href="https://github.com/xiaowang012/FruitStore.git" >点击进入</a>&nbsp邮箱: 1300202481@qq.com
                        </dt>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    
</body>
</html>


